{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block main %}

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>О НАС</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">ГЛАВНАЯ</a></li>
                        <li class="breadcrumb-item active">О НАС</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="noo-sh-title">Мы <span>Nur's Shop</span></h2>
                    <p>Добро пожаловать в магазин Nur's, где стиль сочетается с традициями, а качество определяет каждую вещь.

С момента открытия в 2023 году магазин Nur's Shop стремится предлагать неподвластную времени высококачественную моду, сочетающую в себе элегантность и комфорт. Обладая более чем десятилетним опытом, мы завоевали репутацию создателей коллекций, которые подчеркивают индивидуальность и в то же время позволяют вам оставаться стильными для любого случая.

В магазине Nur's Shop мы верим, что одежда – это больше, чем просто ткань, это форма самовыражения. Именно поэтому мы используем лучшие материалы, внедряем инновационные дизайны и обеспечиваем исключительное обслуживание клиентов, чтобы сделать ваши покупки максимально приятными.

                        Присоединяйтесь к нам, и мы продолжим наше путешествие по переосмыслению моды и укреплению уверенности в себе, подбирая одежду по отдельности. Спасибо, что выбрали магазин Nur's Shop, которому вы доверяете с 2023 года.</p>
                </div>
                <div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-thumbnail img-fluid" src="{% static 'images/about-img.jpg' %}" alt="" />
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Надежный магазин</h3>
                        <p>Обладая более чем годом опытом работы с 2023 года, магазин Nur's Shop завоевал доверие наших покупателей благодаря своей непоколебимой приверженности качеству и стилю. Каждая вещь в нашей коллекции тщательно продумана, чтобы соответствовать вашим ожиданиям в отношении долговечности, комфорта и элегантности.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Профессионализм</h3>
                        <p>В Nur's Shop профессионализм лежит в основе всего, что мы делаем. Мы уделяем первостепенное внимание вашему удовлетворению на каждом этапе - от исключительного обслуживания клиентов до бесперебойного совершения покупок.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Мы Эксперты</h3>
                        <p>Мода - это наше ремесло, а совершенство - наш стандарт. Обладая многолетним опытом в понимании тенденций и вневременного дизайна, мы гордимся тем, что предлагаем вам идеальное сочетание стиля, функциональности и индивидуальности.</p>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <h2 class="noo-sh-title">Наша Команда</h2>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="{% static 'images/staff1.jpg' %}" alt="" />
                            <div class="team-content">
                                <h3 class="title">Williamson</h3> <span class="post">Web Developer</span> </div>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Профессионал с 10-летним опытом работы в области веб-программирования и анализа данных</p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="{% static 'images/staff2.jpg' %}" alt="" />
                            <div class="team-content">
                                <h3 class="title">Steve Thomas</h3> <span class="post">Manager</span> </div>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Один из самых перспективных и молодых сотрудников нашей команды в сфере управления</p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Page -->
{% endblock %}