{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block main %}

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>ABOUT US</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active">ABOUT US</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="noo-sh-title">We are <span>Nur's Shop</span></h2>
                    <p>Welcome to Nur’s Shop – where style meets tradition, and quality defines every piece.

Since opening our doors in 2010, Nur’s Shop has been dedicated to offering timeless, high-quality fashion that blends elegance and comfort. With over a decade of experience, we’ve built a reputation for curating collections that celebrate individuality while keeping you effortlessly stylish for every occasion.

At Nur’s Shop, we believe that clothing is more than just fabric – it’s a form of self-expression. That’s why we are committed to sourcing the finest materials, embracing innovative designs, and delivering exceptional customer service to ensure your shopping experience is as seamless as it is enjoyable.

                        Join us as we continue our journey of redefining fashion and empowering confidence, one outfit at a time. Thank you for choosing Nur’s Shop – your trusted destination for fashion since 2010.</p>
                </div>
                <div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-thumbnail img-fluid" src="{% static 'images/about-img.jpg' %}" alt="" />
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Trusted</h3>
                        <p>With over a decade of experience since 2010, Nur’s Shop has earned the trust of our customers through our unwavering commitment to quality and style. Every item in our collection is thoughtfully curated to meet your expectations for durability, comfort, and elegance.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Professional</h3>
                        <p>At Nur’s Shop, professionalism is at the heart of everything we do. From our exceptional customer service to the seamless shopping experience we provide, we prioritize your satisfaction every step of the way.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Expert</h3>
                        <p>Fashion is our craft, and excellence is our standard. With years of expertise in understanding trends and timeless designs, we take pride in bringing you the perfect blend of style, function, and individuality.</p>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <h2 class="noo-sh-title">Meet Our Team</h2>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="{% static 'images/img-1.jpg' %}" alt="" />
                            <div class="team-content">
                                <h3 class="title">Williamson</h3> <span class="post">Web Developer</span> </div>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Professional with 10 years experience in web programming and data analysis</p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="{% static 'images/img-3.jpg' %}" alt="" />
                            <div class="team-content">
                                <h3 class="title">Steve Thomas</h3> <span class="post">Manager</span> </div>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>One of the most perspective and the youngest part of our team</p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Page -->
{% endblock %}