{% extends 'base.html' %}
{% load static %}
{% block title %}
    Service
{% endblock %}
{% block main %}
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Services</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                        <li class="breadcrumb-item active">Сервис</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Services  -->
    <div class="services-box-main">
        <div class="container">
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>НАША МИССИЯ</h3>
                        <p>Наша миссия в магазине Nur's заключается в том, чтобы придать уверенности в себе и индивидуальности с помощью высококачественной и стильной одежды. Мы стремимся предоставлять исключительную ценность, укрепляя связь между нашими покупателями и модой, неподвластной времени.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>НАШЕ ЦЕЛИ</h3>
                        <p>Мы стремимся стать мировым лидером в индустрии моды, известным сочетанием элегантности, комфорта и экологичности. Наше видение заключается в создании сообщества, где стиль становится формой самовыражения и инклюзивности.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>НАША ФИЛОСОФИЯ</h3>
                        <p>Мы верим, что мода должна не только хорошо выглядеть, но и доставлять удовольствие. Вот почему наша философия основана на мастерстве исполнения, внимании к деталям и непоколебимой приверженности удовлетворению потребностей клиентов. </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Надежность</h3>
                        <p>Обладая более чем годом опытом работы с 2023 года, магазин Nur's Shop завоевал доверие наших покупателей благодаря своей непоколебимой приверженности качеству и стилю. Каждая вещь в нашей коллекции тщательно продумана, чтобы соответствовать вашим ожиданиям в отношении долговечности, комфорта и элегантности.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Профессионализм</h3>
                        <p>В Nur's Shop профессионализм лежит в основе всего, что мы делаем. Мы уделяем первостепенное внимание вашему удовлетворению на каждом этапе - от исключительного обслуживания клиентов до бесперебойного совершения покупок.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>НАША ИСТОРИЯ</h3>
                        <p>С 2023 года магазин Nur's стал частью бесчисленных модных путешествий. Наша одежда сопровождает наших покупателей в самых значимых жизненных ситуациях - от важных праздников до повседневных моментов. Каждое изделие рассказывает историю качества, стиля и доверия.</p>
                    </div>
                </div>
            </div>

            <div class="row my-4">
                <div class="col-12">
                    <h2 class="noo-sh-title">Наша Команда</h2>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="{% static 'images/staff1.jpg' %}" alt="" />
                            <div class="team-content">
                                <h3 class="title">Williamson</h3> <span class="post">Web Developer</span> </div>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Профессионал с 10-летним опытом работы в области веб-программирования и анализа данных</p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="{% static 'images/staff2.jpg' %}" alt="" />
                            <div class="team-content">
                                <h3 class="title">Steve Thomas</h3> <span class="post">Manager</span> </div>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Один из самых перспективных и молодых сотрудников нашей команды в сфере управления</p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Services -->
{% endblock %}